<section class="popular">
  <div class="popular__header">
    <h2>What's Popular</h2>
    <div class="category-toggle">
      @for (category of categories; track $index) {
      <button
        [class.active]="selectedCategory === category.value"
        (click)="loadPopularMovies(category.value)"
      >
        <span class="gradient-text">{{ category.label }}</span>
      </button>
      }
    </div>
  </div>

  <div class="slider">
    <div class="slider-track">
      @for (movie of popularMovies; track $index) {
      <div class="movie-card">
        <div class="movie-card__poster">
          <img
            [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
            alt="{{ movie.title }}"
          />

          <app-rating-badge
            [voteAverage]="movie.vote_average"
          ></app-rating-badge>
        </div>
        <div class="movie-card__info">
          <h3>{{ movie.title }}</h3>
          <h3>{{ movie.release_date }}</h3>
        </div>
      </div>
      }
    </div>
  </div>
</section>
