<section>
  <div class="people__list" >
    @for (person of people; track $index) {
    <app-person-card [person]="person" [routerLink]="['/person', person.id]"></app-person-card>
    }
  </div>

  <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 1">
      ← Previous
    </button>

    <ng-container *ngFor="let page of getPageNumbers(); let i = index">
      <button
        *ngIf="page !== '...'; else dots"
        (click)="goToPage(page)"
        [class.active]="page === currentPage"
      >
        {{ page }}
      </button>
      <ng-template #dots>
        <span class="dots">...</span>
      </ng-template>
    </ng-container>

    <button (click)="nextPage()" [disabled]="currentPage === totalPages">
      Next →
    </button>
  </div>
</section>
<router-outlet></router-outlet>
