.favorite-card {
  display: flex;
  flex-direction: column;
  width: 220px;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.favorite-card__poster {
  border-radius: 8px;
  width: 100%;
}

.favorite-card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
  padding: 10px;
}
