<article class="favorite-card">
  <a [routerLink]="['/details', item.media_type, item.id]">
    <img
      class="favorite-card__poster"
      [src]="'https://image.tmdb.org/t/p/w300' + item.poster_path"
      [alt]="item.title"
    />
  </a>

  <div class="favorite-card__info">
    <h3 class="favorite-card__title">{{ item.title }}</h3>

    <app-favorite-toggle
      [id]="item.id"
      [media_type]="item.media_type"
      [title]="item.title"
      [poster_path]="item.poster_path"
    />
  </div>
</article>
