.header { 
  width: 100%;
  padding: 1rem 2rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  background-color: rgba(3, 37, 65, 1);
  color: white;  
}

.nav {
    display: flex;
    align-items: center;
    gap: 2rem;
  
    a {
      text-decoration: none;
      color: #fff;
      font-size: 1.5rem;
  
      img {
        height: 32px; 
        display: block;
      }
    }

    
  }

  .auth {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  
  .auth-btn {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    background: transparent;
    color: #fff;
    text-decoration: none;
  }
