<article class="movie-details">
  @if (movie) {
  <section class="hero">
    <div class="hero__poster">
      <img [src]="imageUrl + movie.poster_path" [alt]="movie.id" />
    </div>

    <div class="hero__info">
      @if (isMovieDetails(movie)) {
      {{ movie.title }}
      } @else if (isTVDetails(movie)) {
      {{ movie.name }}
      }

      <p class="movie-tagline">{{ movie.tagline }}</p>

      <div class="hero__actions">
        <app-rating-badge [voteAverage]="movie.vote_average" />
        <p>User Score</p>

        <app-favorite-toggle
          [id]="movie.id"
          [media_type]="'movie'"
          [title]="title"
          [poster_path]="movie.poster_path"
        />
      </div>

      <p class="hero__overview">{{ movie.overview }}</p>

      <div class="movie-actions">
        <button class="btn">Watch Trailer</button>
      </div>
    </div>
  </section>

  <section class="credits">
    <!-- Основной состав -->
  </section>

  <section class="media">
    <!-- Галерея и видео -->
  </section>

  <section class="recommendations">
    <!-- Похожие фильмы -->
  </section>
  }
</article>
