<section class="person-details" >
    @if (person) {
        @if(person.profile_path) {
            

            <img
          class="person-photo"
          [src]="'https://image.tmdb.org/t/p/w500' + person.profile_path"
            
          [alt]="person.name">
        } @else {
            <img src="user-profile-img.svg" alt="{{person.name}}">
        }
    
  
    <div class="info">
      <h2>{{ person.name }}</h2>
      <p class="subtle">Born: {{ person.birthday || 'Unknown' }}</p>
      <p class="subtle">From: {{ person.place_of_birth || 'Unknown' }}</p>
      <p class="bio">{{ person.biography || 'No biography available.' }}</p>
    </div>
    }
    
  </section>
